body {
    background-color: #121212; /* Fundo escuro */
    color: #FFFFFF; /* Texto branco */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Deixa a imagem redonda */
    border: 3px solid #00BFFF; /* Borda azul estilosa */
    margin-bottom: 20px;
}

.link {
    display: block;
    background-color: #00BFFF;
    color: #121212;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    max-width: 300px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: transform 0.2s;
}

.link:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}